<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <!-- Замените ссылку на ваш .ipa -->
                    <string>https://web.archive.org/web/20221207054804/https://semijbapps.com/app/sources/u0Launcher.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.opa334.u0launcher</string>
                <key>bundle-version</key>
                <string>1.0.1</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>u0Launcher</string>
                <key>platform-version</key>
                <string>15.0</string> <!-- Пример версии iOS -->
            </dict>
        </dict>
    </array>
</dict>
</plist>
